<div class='courses-container'>
  <div class='container my-5'>
    <div class='row'>
      {{#each courses as |course|}}
        <div class='col mb-4'>
          <div class='card' style='width: 18rem;'>
            <a href='/courses/{{course.slug}}'>
              <img
                src='http://img.youtube.com/vi/{{course.videoID}}/hqdefault.jpg'
                class='card-img-top'
                alt='{{course.name}}'
              />
            </a>
            <div class='card-body'>
              <a class='link-underline link-underline-opacity-0' href='/courses/{{course.slug}}'>
                <h5 class='card-title'>{{course.name}}</h5>
              </a>
              <p class='card-text'>{{course.description}}</p>
              <a href='/courses/{{course.slug}}' class='btn btn-primary'>Detail</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>