<div class='my-5'>
  <div class='row'>
    <div class='col-md-8'>
      <img
        src='http://img.youtube.com/vi/{{course.videoID}}/maxresdefault.jpg'
        class='img-fluid'
        alt='{{course.name}}'
      />
    </div>
    <div class='col-md-4'>
      <h2>{{course.name}}</h2>
      <p>{{course.description}}</p>
      <a href='#' class='btn btn-primary'>Enroll Now</a>
      <hr />
      <p>Level: {{course.level}}</p>
      <p>Price: {{course.price}}</p>
    </div>
  </div>
</div>